@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    background-color: #a6d3e0 ;
    min-height: 100vh;
    text-align: center;
    
}


.title{
    margin: 2px;
    font-size: 40px;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding: 0 4%;
    
}

#text-para{
    margin: 20px;
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 35px;
    font-weight: bold;
    color: #f1f1f3;
    text-decoration: none;  

}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}
nav ul button{
    border: none;
    background-color: #5654b3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
 
.boxLogin { 
    padding:5em 0; 
    background-color:#d9d9d925; 
}
.boxLogin .content {
    padding: 0.5em; 
}
.login{
    width:25%; 
    overflow: hidden; 
    margin:auto; 
    display:inherit; 
    background-color:rgba(255, 255, 255, 0.164); 
    border-radius:4px; 
    box-shadow: 1px 0px 3px 0px #cbcbcb; 
}


.nome{
    background:#f6f8f8;
    border: rgb(240, 233, 233) 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:400px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:400px;
    font-size:1em;
  }

  .login .btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#2CC06B; 
}

.animate-charcter
{
    
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
 
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
    font-size: 49px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.meninahome{
    width: 35vw;
}


.text-bx{
    width: 50%;
}
.text-bx h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.text-bx h1 b{
    color: #f1676d;
    
}
.text-bx p{
    color: #372c62;
    font-weight: 400px;
    margin-top: 20px;    
}
.text-bx .input-bx{
    margin: 20px 0;
    display: flex;
    
}
.text-bx .input-bx input{
    width: 60%;
    display: block;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    color: #0d1b3b;
    font-size: 16px;
}
.text-bx .input-bx input::placeholder{
    color: #8997b9;
    text-align: center;
}
.text-bx .input-bx button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #3836b8;
    color: white;
    cursor: pointer;
    font-size: 15px;
   
}

@media (max-width:970px) {
    nav .menu-icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #5654b3;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
        color: white;
    }
    nav ul button{
        background-color: #f1676d;
        font-size: 18px;
        margin: 10px;
    }
    main{
        flex-direction: column;
    }
    .text-bx,
    .img-bx{
        width: 100%;
        text-align: center;
    }
    .text-bx{
        margin-bottom: 40px;
    }
    .text-bx .input-bx{
        justify-content: center;
    }
}

.row2{
    display: flex;
    flex-flow: row wrap;
    margin: 2%;
    justify-content: space-around;   
}


footer{
   
    height: 80px;
    width: 85%;
    margin: auto;
}

